<h1>Listing albums</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% for album in @albums %>
  <tr>
    <td><%= link_to album.name, album %></td>
    <td><%= link_to "Adicionar Foto", new_photo_to_album_path(:album_id => album.id) %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New album', new_album_path %> |
<%= link_to 'Adicionar fotos enviadas por ftp', check_ftp_path %>
